# Created by .ignore support plugin (hsz.mobi)
node_modules
package-lock.json
.idea
idea
set-credentials.sh
__pycache__/
analyzer/Testdata/german_word2vec.model
cc.de.50.bin
cc.de.100.bin
cc.de.300.bin
*/million_post_corpus/
analyzer/models
